<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.risingcamp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RisingCamp">

        <activity android:name=".CU_splash"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".first_week.Coupang_category"></activity>
        <activity android:name=".first_week.Starbucks_splash"></activity>
        <activity android:name=".first_week.Starbucks_login"></activity>

        <activity android:name=".second_week_practice.MainActivity"></activity>
        <activity android:name=".second_week_practice.SecondActivity"></activity>
        <activity android:name=".second_week_practice.MainActivity2"></activity>

        <activity android:name=".CU_bottom_nav" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".CU_login" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".CU_before_signup" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".CU_selfauth" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".CU_selfauth_check" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".CU_signup" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".CU_complete_signup" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".CU_setting" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".CU_onebarcode" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".CU_event_roulette" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".CU_membership_card" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".CU_user_update" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".third_week_practice.MainActivity"></activity>


    </application>

</manifest>